<h1>athletes</h1>
<h1><%= @athlete.first_name %></h1>
<h1><%= @athlete.last_name %></h1>
<p><%= @athlete.hair_color %></p>
<p><%= @athlete.eye_color %></p>
<p><%= @athlete.age %></p>
<p><%= @athlete.gender %></p>
<p><%= @athlete.mortality %></p>
<%= link_to 'Back', athletes_path %>